In [1]:
import pandas as pd
import numpy as np

In [2]:
data={'height':[170,184,179,189,150,147,165,187,171,166], 'weight':[70,100,82,91,45,41,51,68,71,80]}

In [3]:
df=pd.DataFrame(data)

In [4]:
df['body_index']=((df['height']-df['weight'])/100-1.05)*10

In [5]:
df['true_gender']=(df['body_index']>=0).astype(int)

In [6]:
df

   height  weight  body_index  true_gender
0     170      70        -0.5            0
1     184     100        -2.1            0
2     179      82        -0.8            0
3     189      91        -0.7            0
4     150      45         0.0            1
5     147      41         0.1            1
6     165      51         0.9            1
7     187      68         1.4            1
8     171      71        -0.5            0
9     166      80        -1.9            0

## f(height,weight)->probability that we have woman or 1
## f(a,b,c,height,weight)
## f=logistic_function(a x height + b x weight + c)

In [19]:
a=-5
b=-4
c=1000
df['logits']=a*df['height']+b*df['weight']+c

In [20]:
df

   height  weight  body_index  true_gender  logits
0     170      70        -0.5            0    -130
1     184     100        -2.1            0    -320
2     179      82        -0.8            0    -223
3     189      91        -0.7            0    -309
4     150      45         0.0            1      70
5     147      41         0.1            1     101
6     165      51         0.9            1     -29
7     187      68         1.4            1    -207
8     171      71        -0.5            0    -139
9     166      80        -1.9            0    -150

In [21]:
df['predicted_probability']=1/(1+1/np.exp(df['logits']))

In [22]:
df

   height  weight  body_index  true_gender  logits  predicted_probability
0     170      70        -0.5            0    -130           3.481107e-57
1     184     100        -2.1            0    -320          1.061123e-139
2     179      82        -0.8            0    -223           1.420138e-97
3     189      91        -0.7            0    -309          6.353384e-135
4     150      45         0.0            1      70           1.000000e+00
5     147      41         0.1            1     101           1.000000e+00
6     165      51         0.9            1     -29           2.543666e-13
7     187      68         1.4            1    -207           1.261950e-90
8     171      71        -0.5            0    -139           4.296027e-61
9     166      80        -1.9            0    -150           7.175096e-66

### 2e-135=2 x 10^-135
### 2e+24=2 x 10^24